@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

.MarketDetailTemplate {
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: row;
  width: 1020px;
  height: 600px;
  // border: 1px solid black;

  &-imageDiv {
    width: 500px;
    height: 500px;
    margin-right: 20px;

    &-image {
      width: 100%;
      height: 100%;
    }
  }

  &-orderDiv {
    width: 500px;
    height: 480px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    // border: 1px solid black;

    &-headerDiv {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #f8f9fa;
      // border: 1px solid black;
      cursor: pointer;

      &-memberIdDiv {
        display: flex;
        align-items: center;
        padding-left: 10px;
        min-width: 140px;
        height: 30px;
        cursor: pointer;
        font-family: $NOTO_SANS_KR_MEDIUM;
        color: $gray_4;
      }

      &-iconDiv {
        width: 20px;
        height: 20px;
        cursor: pointer;

        &-icon {
          width: 100%;
          height: 100%;
          color: $gray_4
        }
      }
    }

    &-titleDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-family: $NOTO_SANS_KR_REGULAR;
      font-size: 20px;
      width: 100%;
      height: 80px;
      // border: 1px solid black;
    }

    &-priceDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 50px;
      // border: 1px solid black;

      &-price {
        min-width: 160px;
        height: 30px;
        margin-right: 270px;
        // border: 1px solid black;
        font-size: 20px;
        font-family: $NOTO_SANS_KR_BOLD;
      }

      &-pushDiv {
        width: 40px;
        height: 40px;
        border: 1px solid black;
      }
    }

    &-infoDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 200px;
      // border: 1px solid black;

      &-infoNameDiv {
        width: 100px;
        height: 160px;
        // border: 1px solid black;

        &-nameDiv {
          display: flex;
          align-items: center;
          // justify-content: center;
          padding-left: 5px;
          width: 100%;
          height: 40px;
          font-family: $NOTO_SANS_KR_REGULAR;
          // border: 1px solid black;
        }
      }

      &-infoContentsDiv {
        width: 200px;
        height: 160px;
        margin-right: 180px;
        // border: 1px solid black;

        &-contentsDiv {
          display: flex;
          align-items: center;
          padding-left: 5px;
          width: 100%;
          height: 40px;
          font-family: $NOTO_SANS_KR_REGULAR;
          // border: 1px solid black;
        }
      }
    }

    &-contactDiv {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 70px;
      // border: 1px solid black;

      &-buttonDiv {
        width: 200px;
        margin: 20px;
        height: 50px;

        &-button {
          width: 100%;
          height: 100%;
          outline: 0px;
          border: 0px;
          font-size: 15px;
          font-family: $NOTO_SANS_KR_BOLD;
          background-color: $soda;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.ContentsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1020px;
  height: 300px;
  margin-bottom: 100px;

  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);

  &-fontStyle {
    padding-top: 25px;
    font-size: 15px;
    font-family: $NOTO_SANS_KR_REGULAR;
  }

  &-titleDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: $NOTO_SANS_KR_BOLD;
    padding-top: 15px;
    // border: 1px solid black;
  }
}

.contentsGuide {
  width: 1020px;
  height: 30px;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: $NOTO_SANS_KR_BOLD;
  // border: 1px solid black;
}

.buttonColor {
  background-color: #845ef7;
  // color: #cc5de8;
}